*{
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	scroll-behavior: smooth; 
} 

body{
	background: #F8F9F9;
	font-family: Arial, sans-serif; 
} 
 
.container{
	position: fixed; 
	left: 50%; 
	top: 50%; 
	transform: translate(-50%,-50% 
	width: 100%; 
	max-width: 760px; 
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	justify-content: center; 
} 
 
.container h1{ 
 
	text-transform: uppercase; 
	color: #ccc; 
	font-size: 2rem;
}

.chat-container{ 
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	justify-content: center; 
	height: 100vh; 
}

.chat-box{
	width: 100%; 
	max-width: 726px; 
	margin: 5px 0; 
	display: flex; 
	flex-direction: column; 
	align-items: start; 
	justify-content: start; 
	height: 80vh; 
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	position: relative;
	border-radious: 0.5rm;
}

.chat-header{ 
	width: 100%; 
	background: #673AB7; 
	background: -webkit-linear-gradient(to right, #512DA8, #673AB7); 
	background: linear-gradient(to right, #512DAB, #673A87); 
	padding: 1rem; 
	box-shadow: rgba(99, 99, 99, 0.2) 8px 2px 8px 8px; 
	height: 10vh; 
	color: #fff; 
	border-radius: 8.5rem 0.5rem 8 8 
	display: flex; 
	flex-direction: column; 
	align-items: start; 
	justify-content: start; 
	gap: 8.4rem;
	user-select: none;
}

#fullName{ 
	font-size: 0.8rem; 
	opacity: 0.3; 
	user-select: none;
}

.messages{ 
	padding: 0.5rem; 
	height: 70vh; 
	width: 100%; 
	overflow-y: auto; 
	position: relative; 
}

.messages::-webkit-scrollbar{ 
	width: 12px; 
	height: 12px; 
}

.messages::-webkit-scrollbar-thumb{ background: #5120A8; } 
.messages::before{ 
	content: ""; 
	position: absolute; 
	top: 0; 
	left: 0; 
	background-image: url('../images/chatBg.jpg'); 
	background-position: center; 
	background-size: cover; 
	opacity: 0.05; 
	z-index: -1;
	width: 100%;
	height: 100%;
}

.input-container{ 
	display: flex; 
	align-items: center; 
	position: absolute; 
	left: 0; 
	bottom: 0; 
	border: 1px solid #ccc; 
	background:#fff; 
	box-shadow: rgba(58, 58, 93, 8.25) 0px 6px 12px 2px rgba(0, 0, 0, 0.3) 0px 3px 7px 3px; 
	padding: 5px; 
	border-radius: 0 0 0.5rem 0.5rem;
	width: 100%;
}

textarea{ 
	width: 100%; 
	outline: none; 
	resize: none; 
	border: none; 
	height: 7vh; 
}

button{ 
	background: #512DA8; 
	color:#fff; 
	border: none; 
	padding: 15px; 
	cursor: pointer; 
	border-radius: 50%; 
	display: flex; 
	align-items: center; 
	justify-content: center;
}

button img{
	width: 22px;
	height: 22px;
}
