*{
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
	scroll-behavior: smooth; 
} 

body{
	background: #F8F9F9;
	font-family: Arial, sans-serif; 
} 
 
.container{
	position: fixed; 
	left: 50%; 
	top: 50%; 
	transform: translate(-50%,-50% 
	width: 100%; 
	max-width: 760px; 
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	justify-content: center; 
} 
 
container h1{ 
 
	text-transform: uppercase; 
	color: #ccc; 
	font-size: 2rem;
}
